%ic {
    font-family: 'icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  [class*='_icon-'] {
    &:before {
      @extend %ic;
      display: block;
    }
  }


._icon-actions:before { content: '\e800'; } /* '' */
._icon-cart:before { content: '\e801'; } /* '' */
._icon-clocks:before { content: '\e802'; } /* '' */
._icon-corndogs:before { content: '\e803'; } /* '' */
._icon-drinks:before { content: '\e804'; } /* '' */
._icon-instagram:before { content: '\e805'; } /* '' */
._icon-likes:before { content: '\e806'; } /* '' */
._icon-menu:before { content: '\e807'; } /* '' */
._icon-pizza:before { content: '\e808'; } /* '' */
._icon-place:before { content: '\e809'; } /* '' */
._icon-rolls:before { content: '\e80a'; } /* '' */
._icon-salads:before { content: '\e80b'; } /* '' */
._icon-search:before { content: '\e80c'; } /* '' */
._icon-sets:before { content: '\e80d'; } /* '' */
._icon-sups:before { content: '\e80e'; } /* '' */
._icon-sushi:before { content: '\e80f'; } /* '' */
._icon-whatsapp:before { content: '\e810'; } /* '' */
._icon-telegram:before { content: '\e811'; } /* '' */
._icon-wok:before { content: '\e812'; } /* '' */
