//====================================================================================================
.header {
  display: flex;
  border-bottom: 0.5px solid #a4acad;
  @media (max-width: 1240px) {
    flex-direction: column;
  }
  @media (max-width: 991.98px) {
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 0px 19px;
  }
  // .header__container

  // .header__contacts
  &__logo {
    width: 47px;
    height: 43px;
    @media (min-width: 991.98px) {
      display: none;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 18px;
    border-right: 0.5px solid #a4acad;
    width: 30%;
    &_order {
      width: 100%;
      border-right: 0.5px solid #a4acad00;
    }
    @media (max-width: 1715px) {
      width: 40%;
    }
    @media (max-width: 1472px) {
      width: 50%;
    }

    @media (max-width: 1240px) {
      border-right: 0.5px solid #a4acad00;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    @media (max-width: 991.98px) {
      // width: 100%;
      justify-content: space-around;

      gap: 50px;
      padding: 7px 12px;
    }

    @media (max-width: 470px) {
      flex-direction: row;
      gap: 20px;
    }
  }

  // .header__contacts-text

  &__contacts-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    color: #111111;
    @media (max-width: 991.98px) {
      margin-bottom: 9px;
      font-size: 18px;
    }
    @media (max-width: 470px) {
      // font-size: 12px;
    }
  }
  &__contacts-box {
    display: flex;
    flex-direction: column;
  }

  // .header__contacts-tel

  &__contacts-tel {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    color: #ff9846;
    @media (max-width: 991.98px) {
      line-height: 1.5;
    }
    @media (max-width: 767.98px) {
      font-size: 12px;
    }
  }

  // .header__avalible

  &__avalible {
    display: flex;
    margin-top: 5px;
    text-align: center;
    gap: 9px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      max-width: 100px;
      margin-top: 0px;
    }
  }

  // .header__work-time

  &__work-time {
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #a4acad;
    @media (max-width: 767.98px) {
      width: 80px;
      align-items: center;
      justify-content: center;
      line-height: 1.5;
      font-size: 12px;
    }
  }
  &__clocks {
    @media (max-width: 991.98px) {
      align-self: center;
      width: 15px;
      height: 15px;
      width: 20px;
      height: 20px;
    }
  }

  // .header__center

  &__center {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 40px;
    align-items: center;
    width: 100%;
    @media (max-width: 1260px) {
      padding-right: 25spx;
    }

    @media (max-width: 1240px) {
      padding-bottom: 15px;
    }
    @media (max-width: 1240px) {
      flex-direction: column;
      row-gap: 15px;
      padding-left: 5px;
      padding-right: 5px;
    }
    @media (max-width: 991.98px) {
      padding-bottom: 0px;
    }
    @media (max-width: 767.98px) {
      flex-direction: row;
      width: 40px;
    }
  }

  // .header__place

  &__place {
    display: flex;
    flex-direction: column;
    @media (max-width: 1240px) {
      flex-direction: row;
      align-items: center;
      align-self: flex-start;
      gap: 8px;
      display: none;
    }
  }

  // .header__place-title

  &__place-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.214;
    color: #a4acad;
  }

  // .header__info-place

  &__info-place {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.222;
    color: #000000;
  }

  // .header__search

  &__search {
    display: flex;
    align-items: center;
    gap: 10px;
    @media (max-width: 1240px) {
      padding-right: 20px;
      padding-left: 8px;
      justify-content: space-between;
      width: 100%;
    }
    // @media (max-width: 851px) {
    //   padding-right: 20px;
    //   padding-left: 8px;
    //   justify-content: flex-end;
    //   width: 100%;
    // }
  }

  &__form {
    position: relative;
  }
  &__search-icon {
    width: 27px;
    height: 27px;
    opacity: 0.8;
    color: #a4acad;
    margin-left: 69px;
    z-index: 0;
    display: inline-block;
    z-index: 10;
    &_onFocus {
      opacity: 0;
      z-index: 0;
    }

    @media (max-width: 1400px) {
      margin-left: 30px;
    }
    @media (max-width: 800px) {
      margin-left: 10px;
    }
    @media (max-width: 767.98px) {
      margin-left: 0px;
    }
  }

  &__clear-input-icon {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    width: 27px;
    height: 27px;
    opacity: 0.8;
    color: #a4acad;
    margin-left: 69px;
    cursor: pointer;
    z-index: 10;
    display: none;
  }
  ._focus {
    display: inline-block;
  }

  &__input {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    background-color: unset;
    transition: 0.3s ease 0s;
    padding: 5px 15px;
    height: 40px;
    font-size: 16px;
    font-family: "DINPro";
    transform: translate(5%, -50%);
    opacity: 0;
    z-index: 2;
    &:focus {
      width: 380px;
      background-color: #ffffff;
      font-size: 16px;
      outline: 0.5px solid #f2f2f2;
      border-radius: 5px;
      opacity: 1;
      @media (max-width: 875px) {
        width: 275px;
        transform: translate(0%, -50%);
      }
    }
  }

  // .header__link

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.222;
    color: #111111;
    @media (any-hover: hover) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: #ff9846;
      }
    }
    @media (max-width: 768.98px) {
      display: none;
    }
  }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/
